.dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userInfo {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.userInfo p {
    margin-bottom: 10px;
}

.logoutButton, .addButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #0070f3;
    color: white;
    cursor: pointer;
}

.logoutButton:hover, .addButton:hover {
    background-color: #005bb5;
}

.storesList {
    margin-top: 20px;
}

.storesList h2 {
    margin-bottom: 10px;
}

.storesList ul {
    list-style: none;
    padding: 0;
}

.storesList li {
    margin-bottom: 10px;
}

.storesList button {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.storesList button:hover {
    background-color: #388e3c;
}
