.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5); /* 투명한 흰색 배경 */
    backdrop-filter: blur(100px); /* 배경을 흐리게 함 */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100; /* 다른 요소 위에 위치하도록 설정 */
}

.footer p {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}
